openapi: 3.0.3
info:
  title: 'API Partner'
  description: ''
  version: 1.0.0
servers:
  - url: 'https://otto-partner.vodfactory.com'
tags:
  - name: Audios
    description: ''
  - name: Contents
    description: ''
  - name: Countries
    description: ''
  - name: 'Free Blocks'
    description: ''
  - name: 'Free Headings'
    description: ''
  - name: 'Free Plans'
    description: ''
  - name: Genres
    description: ''
  - name: Languages
    description: ''
  - name: 'Molotov Blocks'
    description: ''
  - name: Persons
    description: ''
  - name: Send
    description: ''
  - name: Subtitles
    description: ''
  - name: Videos
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Your api key corresponds to your platform. You can request a new one by contacting us.'
security:
  -
    default: []
paths:
  '/api/videos/{videoId}/audios':
    get:
      summary: 'Get all audios'
      operationId: getAllAudios
      description: ''
      parameters:
        -
          in: header
          name: locale
          description: ''
          example: fr-FR
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  results:
                    -
                      external_id: 38
                      name: Audio-fr-FR-Normal-R1
                      filename: Audio-fr-FR-Normal-R1.wav
                      filepath: amazon/path/to/Audio-fr-FR-Normal-R1.wav
                      url: 's3://bucket/amazon/path/to/Audio-fr-FR-Normal-R1.wav'
                      is_delivered: false
                      created_at: '2024-12-19 16:24:05'
                      updated_at: '2024-12-19 16:24:05'
                      language:
                        code: fr-FR
                        iso_639_1: fr
                        iso_639_2: fre
                        iso_639_3: fra
                        frequently_used: true
                        video_audio_only: false
                        metadata_only: false
                        timed_text_only: false
                        name: 'Français (France)'
                  status: success
                properties:
                  results:
                    type: array
                    example:
                      -
                        external_id: 38
                        name: Audio-fr-FR-Normal-R1
                        filename: Audio-fr-FR-Normal-R1.wav
                        filepath: amazon/path/to/Audio-fr-FR-Normal-R1.wav
                        url: 's3://bucket/amazon/path/to/Audio-fr-FR-Normal-R1.wav'
                        is_delivered: false
                        created_at: '2024-12-19 16:24:05'
                        updated_at: '2024-12-19 16:24:05'
                        language:
                          code: fr-FR
                          iso_639_1: fr
                          iso_639_2: fre
                          iso_639_3: fra
                          frequently_used: true
                          video_audio_only: false
                          metadata_only: false
                          timed_text_only: false
                          name: 'Français (France)'
                    items:
                      type: object
                      properties:
                        external_id:
                          type: integer
                          example: 38
                        name:
                          type: string
                          example: Audio-fr-FR-Normal-R1
                        filename:
                          type: string
                          example: Audio-fr-FR-Normal-R1.wav
                        filepath:
                          type: string
                          example: amazon/path/to/Audio-fr-FR-Normal-R1.wav
                        url:
                          type: string
                          example: 's3://bucket/amazon/path/to/Audio-fr-FR-Normal-R1.wav'
                        is_delivered:
                          type: boolean
                          example: false
                        created_at:
                          type: string
                          example: '2024-12-19 16:24:05'
                        updated_at:
                          type: string
                          example: '2024-12-19 16:24:05'
                        language:
                          type: object
                          properties:
                            code:
                              type: string
                              example: fr-FR
                            iso_639_1:
                              type: string
                              example: fr
                            iso_639_2:
                              type: string
                              example: fre
                            iso_639_3:
                              type: string
                              example: fra
                            frequently_used:
                              type: boolean
                              example: true
                            video_audio_only:
                              type: boolean
                              example: false
                            metadata_only:
                              type: boolean
                              example: false
                            timed_text_only:
                              type: boolean
                              example: false
                            name:
                              type: string
                              example: 'Français (France)'
                  status:
                    type: string
                    example: success
      tags:
        - Audios
    post:
      summary: 'Create an audio'
      operationId: createAnAudio
      description: ''
      parameters:
        -
          in: header
          name: locale
          description: ''
          example: fr-FR
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  results:
                    external_id: 38
                    name: Audio-fr-FR-Normal-R1
                    filename: Audio-fr-FR-Normal-R1.wav
                    filepath: amazon/path/to/Audio-fr-FR-Normal-R1.wav
                    url: 's3://bucket/amazon/path/to/Audio-fr-FR-Normal-R1.wav'
                    is_delivered: false
                    created_at: '2024-12-19 16:24:05'
                    updated_at: '2024-12-19 16:24:05'
                    language:
                      code: fr-FR
                      iso_639_1: fr
                      iso_639_2: fre
                      iso_639_3: fra
                      frequently_used: true
                      video_audio_only: false
                      metadata_only: false
                      timed_text_only: false
                      name: 'Français (France)'
                properties:
                  status:
                    type: string
                    example: success
                  results:
                    type: object
                    properties:
                      external_id:
                        type: integer
                        example: 38
                      name:
                        type: string
                        example: Audio-fr-FR-Normal-R1
                      filename:
                        type: string
                        example: Audio-fr-FR-Normal-R1.wav
                      filepath:
                        type: string
                        example: amazon/path/to/Audio-fr-FR-Normal-R1.wav
                      url:
                        type: string
                        example: 's3://bucket/amazon/path/to/Audio-fr-FR-Normal-R1.wav'
                      is_delivered:
                        type: boolean
                        example: false
                      created_at:
                        type: string
                        example: '2024-12-19 16:24:05'
                      updated_at:
                        type: string
                        example: '2024-12-19 16:24:05'
                      language:
                        type: object
                        properties:
                          code:
                            type: string
                            example: fr-FR
                          iso_639_1:
                            type: string
                            example: fr
                          iso_639_2:
                            type: string
                            example: fre
                          iso_639_3:
                            type: string
                            example: fra
                          frequently_used:
                            type: boolean
                            example: true
                          video_audio_only:
                            type: boolean
                            example: false
                          metadata_only:
                            type: boolean
                            example: false
                          timed_text_only:
                            type: boolean
                            example: false
                          name:
                            type: string
                            example: 'Français (France)'
      tags:
        - Audios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                external_id:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: lk
                language_code:
                  type: string
                  description: 'The language code.'
                  example: fr-FR
                url:
                  type: string
                  description: 'The url (http or s3://) to the audio.'
                  example: 'http://path/to/audio_fr.wav'
                  enum:
                    - wav
                    - mp4
                    - mov
              required:
                - external_id
                - language_code
                - url
    parameters:
      -
        in: path
        name: videoId
        description: 'The external ID of your video.'
        example: 456789
        required: true
        schema:
          type: integer
  '/api/videos/{videoId}/audios/{id}':
    get:
      summary: 'Get an audio'
      operationId: getAnAudio
      description: ''
      parameters:
        -
          in: header
          name: locale
          description: ''
          example: fr-FR
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  results:
                    external_id: 38
                    name: Audio-fr-FR-Normal-R1
                    filename: Audio-fr-FR-Normal-R1.wav
                    filepath: amazon/path/to/Audio-fr-FR-Normal-R1.wav
                    url: 's3://bucket/amazon/path/to/Audio-fr-FR-Normal-R1.wav'
                    is_delivered: false
                    created_at: '2024-12-19 16:24:05'
                    updated_at: '2024-12-19 16:24:05'
                    language:
                      code: fr-FR
                      iso_639_1: fr
                      iso_639_2: fre
                      iso_639_3: fra
                      frequently_used: true
                      video_audio_only: false
                      metadata_only: false
                      timed_text_only: false
                      name: 'Français (France)'
                properties:
                  status:
                    type: string
                    example: success
                  results:
                    type: object
                    properties:
                      external_id:
                        type: integer
                        example: 38
                      name:
                        type: string
                        example: Audio-fr-FR-Normal-R1
                      filename:
                        type: string
                        example: Audio-fr-FR-Normal-R1.wav
                      filepath:
                        type: string
                        example: amazon/path/to/Audio-fr-FR-Normal-R1.wav
                      url:
                        type: string
                        example: 's3://bucket/amazon/path/to/Audio-fr-FR-Normal-R1.wav'
                      is_delivered:
                        type: boolean
                        example: false
                      created_at:
                        type: string
                        example: '2024-12-19 16:24:05'
                      updated_at:
                        type: string
                        example: '2024-12-19 16:24:05'
                      language:
                        type: object
                        properties:
                          code:
                            type: string
                            example: fr-FR
                          iso_639_1:
                            type: string
                            example: fr
                          iso_639_2:
                            type: string
                            example: fre
                          iso_639_3:
                            type: string
                            example: fra
                          frequently_used:
                            type: boolean
                            example: true
                          video_audio_only:
                            type: boolean
                            example: false
                          metadata_only:
                            type: boolean
                            example: false
                          timed_text_only:
                            type: boolean
                            example: false
                          name:
                            type: string
                            example: 'Français (France)'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: '`Model` with id: 999 not found.'
                  error_code: not_found
                  warnings: []
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: '`Model` with id: 999 not found.'
                  error_code:
                    type: string
                    example: not_found
                  warnings:
                    type: array
                    example: []
      tags:
        - Audios
    put:
      summary: 'Update an audio'
      operationId: updateAnAudio
      description: ''
      parameters:
        -
          in: header
          name: locale
          description: ''
          example: fr-FR
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  results:
                    external_id: 38
                    name: Audio-fr-FR-Normal-R1
                    filename: Audio-fr-FR-Normal-R1.wav
                    filepath: amazon/path/to/Audio-fr-FR-Normal-R1.wav
                    url: 's3://bucket/amazon/path/to/Audio-fr-FR-Normal-R1.wav'
                    is_delivered: false
                    created_at: '2024-12-19 16:24:05'
                    updated_at: '2024-12-19 16:24:05'
                    language:
                      code: fr-FR
                      iso_639_1: fr
                      iso_639_2: fre
                      iso_639_3: fra
                      frequently_used: true
                      video_audio_only: false
                      metadata_only: false
                      timed_text_only: false
                      name: 'Français (France)'
                properties:
                  status:
                    type: string
                    example: success
                  results:
                    type: object
                    properties:
                      external_id:
                        type: integer
                        example: 38
                      name:
                        type: string
                        example: Audio-fr-FR-Normal-R1
                      filename:
                        type: string
                        example: Audio-fr-FR-Normal-R1.wav
                      filepath:
                        type: string
                        example: amazon/path/to/Audio-fr-FR-Normal-R1.wav
                      url:
                        type: string
                        example: 's3://bucket/amazon/path/to/Audio-fr-FR-Normal-R1.wav'
                      is_delivered:
                        type: boolean
                        example: false
                      created_at:
                        type: string
                        example: '2024-12-19 16:24:05'
                      updated_at:
                        type: string
                        example: '2024-12-19 16:24:05'
                      language:
                        type: object
                        properties:
                          code:
                            type: string
                            example: fr-FR
                          iso_639_1:
                            type: string
                            example: fr
                          iso_639_2:
                            type: string
                            example: fre
                          iso_639_3:
                            type: string
                            example: fra
                          frequently_used:
                            type: boolean
                            example: true
                          video_audio_only:
                            type: boolean
                            example: false
                          metadata_only:
                            type: boolean
                            example: false
                          timed_text_only:
                            type: boolean
                            example: false
                          name:
                            type: string
                            example: 'Français (France)'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: '`Model` with id: 999 not found.'
                  error_code: not_found
                  warnings: []
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: '`Model` with id: 999 not found.'
                  error_code:
                    type: string
                    example: not_found
                  warnings:
                    type: array
                    example: []
      tags:
        - Audios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                language_code:
                  type: string
                  description: 'The language code.'
                  example: fr-FR
                url:
                  type: string
                  description: 'The url (http or s3://) to the audio.'
                  example: 'http://path/to/audio_fr.wav'
                  enum:
                    - wav
                    - mp4
                    - mov
              required:
                - language_code
                - url
    delete:
      summary: 'Delete an audio'
      operationId: deleteAnAudio
      description: ''
      parameters:
        -
          in: header
          name: locale
          description: ''
          example: fr-FR
          schema:
            type: string
      responses:
        204:
          description: ''
          content:
            application/json:
              schema:
                type: object
                nullable: true
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: '`Model` with id: 999 not found.'
                  error_code: not_found
                  warnings: []
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: '`Model` with id: 999 not found.'
                  error_code:
                    type: string
                    example: not_found
                  warnings:
                    type: array
                    example: []
      tags:
        - Audios
    parameters:
      -
        in: path
        name: videoId
        description: 'The external ID of your video.'
        example: 456789
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The external ID of your audio.'
        example: 654321
        required: true
        schema:
          type: integer
  '/api/contents/{id}':
    get:
      summary: 'Get a content'
      operationId: getAContent
      description: ''
      parameters:
        -
          in: header
          name: locale
          description: ''
          example: fr-FR
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    \"status\": \"success\",\n    \"results\": {\n        \"external_id\": 40083,\n        \"uid\": \"content_1\",\n        \"sku_code\": \"100_bloody_acres_40083\",\n        \"type\": \"program\",\n        \"rank\": 1,\n        \"title\": \"100 Bloody Acres\",\n        \"original_title\": null,\n        \"synopsis\": \"Reg and Lindsay sont propriétaires d'une entreprise de fertilisation biologique. Ils ont besoin de nouveaux stocks de leur \\\"ingrédient secret\\\". C'est alors que Reg tombe sur trois personnes en panne sur la route...\",\n        \"short_synopsis\": null,\n        \"persons\": [\n            {\n                \"external_id\": 22648,\n                \"firstname\": \"Damon\",\n                \"lastname\": \"Herriman\",\n                \"name\": \"Damon Herriman\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22649,\n                \"firstname\": \"Angus\",\n                \"lastname\": \"Sampson\",\n                \"name\": \"Angus Sampson\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22650,\n                \"firstname\": \"Anna\",\n                \"lastname\": \"McGahan\",\n                \"name\": \"Anna McGahan\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 3034,\n                \"firstname\": \"John\",\n                \"lastname\": \"Jarratt\",\n                \"name\": \"John Jarratt\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22651,\n                \"firstname\": \"Oliver\",\n                \"lastname\": \"Ackland\",\n                \"name\": \"Oliver Ackland\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22652,\n                \"firstname\": \"Jamie\",\n                \"lastname\": \"Kristian\",\n                \"name\": \"Jamie Kristian\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22653,\n                \"firstname\": \"Chrissie\",\n                \"lastname\": \"Page\",\n                \"name\": \"Chrissie Page\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22646,\n                \"firstname\": \"Cameron\",\n                \"lastname\": \"Cairnes\",\n                \"name\": \"Cameron Cairnes\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 2,\n                        \"code\": \"director\",\n                        \"label\": \"Director\",\n                        \"name\": \"Réalisateur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22647,\n                \"firstname\": \"Colin\",\n                \"lastname\": \"Cairnes\",\n                \"name\": \"Colin Cairnes\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 2,\n                        \"code\": \"director\",\n                        \"label\": \"Director\",\n                        \"name\": \"Réalisateur\",\n                        \"description\": null\n                    }\n                ]\n            }\n        ],\n        \"countries\": [\n            {\n                \"full_name\": \"Commonwealth of Australia\",\n                \"iso_3166_2\": \"AU\",\n                \"iso_3166_3\": \"AUS\",\n                \"title\": \"Australie\",\n                \"name\": \"Australie\"\n            }\n        ],\n        \"duration\": 5460,\n        \"release_date\": \"2012-08-04\",\n        \"owner\": \"KFD\",\n        \"video_quality\": \"HD\",\n        \"original_language\": {\n            \"code\": \"en-AU\",\n            \"iso_639_1\": null,\n            \"iso_639_2\": null,\n            \"iso_639_3\": null,\n            \"frequently_used\": false,\n            \"video_audio_only\": false,\n            \"metadata_only\": false,\n            \"timed_text_only\": false,\n            \"name\": \"Anglais (Australie)\"\n        },\n        \"rating\": 10,\n        \"categories\": [\n            {\n                \"external_id\": 216,\n                \"parent_id\": null,\n                \"rank\": null,\n                \"created_at\": \"2024-12-02T14:28:40.000000Z\",\n                \"updated_at\": \"2024-12-02T14:28:40.000000Z\",\n                \"name\": \"Horreur\",\n                \"description\": null\n            }\n        ],\n        \"genres\": [\n            {\n                \"code\": \"av_subgenre_horror_comedy\",\n                \"name\": \"Horror Comedy\"\n            }\n        ],\n        \"betv_categories\": [],\n        \"molotov_tags\": [],\n        \"images\": {\n            \"amazon\": {\n                \"cover_art\": \"https://path/to/amazon/cover_art.jpg\",\n                \"box_art\": \"https://path/to/amazon/box_art.jpg\",\n                \"poster_art\": \"https://path/to/amazon/poster_art.jpg\",\n                \"hero_art\": \"https://path/to/amazon/hero_art.jpg\",\n                \"title_art\": \"https://path/to/amazon/title_art.jpg\",\n                \"season_box_art\": \"https://path/to/amazon/season_box_art.jpg\",\n                \"episodic_art\": \"https://path/to/amazon/episodic_art.jpg\",\n            },\n            \"free\": {\n                \"cover_poster\": \"https://path/to/free/cover_poster.jpg\",\n                \"cover_wide\": \"https://path/to/free/cover_wide.jpg\",\n                \"backdrop_wide\": \"https://path/to/free/backdrop_wide.jpg\"\n            },\n            \"molotov\": {\n                \"poster\": \"https://path/to/molotov/poster.jpg\",\n                \"poster_23\": \"https://path/to/molotov/poster_23.jpg\",\n                \"landscape\": \"https://path/to/molotov/wallpaper.jpg\",\n                \"backdrop\": \"https://path/to/molotov/backdrop.jpg\"\n            },\n            \"betv\": {\n                \"poster\": \"https://path/to/betv/poster.jpg\",\n                \"wallpaper\": \"https://path/to/betv/wallpaper.jpg\"\n            }\n        },\n        \"videos\": {\n            \"amazon\": {\n                \"main\": {\n                    \"external_id\": 93966,\n                    \"type\": \"main\",\n                    \"name\": \"terrifier\",\n                    \"url\": \"s3://bucket/path/to/terrifier.mov\",\n                    \"duration\": 8340,\n                    \"is_drmised\": false,\n                    \"drm_key_id\": null,\n                    \"drm_key\": null,\n                    \"drm_initialization_vector\": null,\n                    \"is_delivered\": false,\n                    \"created_at\": \"2024-12-19 16:24:05\",\n                    \"updated_at\": \"2025-02-04 11:07:26\",\n                    \"audios\": [\n                        {\n                            \"external_id\": 38,\n                            \"name\": \"audio-terrifier-R1\",\n                            \"url\": \"s3://bucket/path/to/audio-terrifier-R1.wav\",\n                            \"is_delivered\": false,\n                            \"created_at\": \"2024-12-19 16:24:05\",\n                            \"updated_at\": \"2024-12-19 16:24:05\",\n                            \"language\": {\n                                \"code\": \"fr-FR\",\n                                \"iso_639_1\": \"fr\",\n                                \"iso_639_2\": \"fre\",\n                                \"iso_639_3\": \"fra\",\n                                \"frequently_used\": true,\n                                \"video_audio_only\": false,\n                                \"metadata_only\": false,\n                                \"timed_text_only\": false,\n                                \"name\": \"Français (France)\"\n                            }\n                        }\n                    ],\n                    \"subtitles\": [\n                        {\n                            \"external_id\": 53093,\n                            \"format\": \"srt\",\n                            \"version\": \"normal\",\n                            \"name\": \"subtitle-terrifier-fr-FR\",\n                            \"url\": \"s3://bucket/path/to/subtitle-terrifier-fr-FR.srt\",\n                            \"is_delivered\": false,\n                            \"created_at\": \"2024-12-19 16:24:05\",\n                            \"updated_at\": \"2024-12-19 16:24:05\",\n                            \"language\": {\n                                \"code\": \"fr-FR\",\n                                \"iso_639_1\": \"fr\",\n                                \"iso_639_2\": \"fre\",\n                                \"iso_639_3\": \"fra\",\n                                \"frequently_used\": true,\n                                \"video_audio_only\": false,\n                                \"metadata_only\": false,\n                                \"timed_text_only\": false,\n                                \"name\": \"Français (France)\"\n                            }\n                        }\n                    ],\n                    \"audiotracks\": [\n                        {\n                            \"is_original_version\": true,\n                            \"rank\": 1,\n                            \"external_locale\": \"en-US\",\n                            \"created_at\": \"2024-12-19 16:24:05\",\n                            \"updated_at\": \"2025-01-07 10:48:11\",\n                            \"language\": {\n                                \"code\": \"en-US\",\n                                \"iso_639_1\": null,\n                                \"iso_639_2\": null,\n                                \"iso_639_3\": null,\n                                \"frequently_used\": true,\n                                \"video_audio_only\": false,\n                                \"metadata_only\": false,\n                                \"timed_text_only\": false,\n                                \"name\": \"Anglais (États-Unis)\"\n                            }\n                        }\n                    ]\n                },\n                \"trailer\": [\n                    {\n                        \"external_id\": 93966,\n                        \"type\": \"trailer\",\n                        \"name\": \"terrifier-trailer\",\n                        \"url\": \"s3://bucket/path/to/terrifier-trailer.mov\",\n                        \"duration\": 8340,\n                        \"is_drmised\": false,\n                        \"is_delivered\": false,\n                        \"created_at\": \"2024-12-19 16:24:05\",\n                        \"updated_at\": \"2025-02-04 11:07:26\"\n                    }\n                ]\n            }\n        },\n        \"availabilities\": {\n            \"amazon\": [\n                {\n                    \"format_profile\": \"HD\",\n                    \"licence_type\": \"SVOD\",\n                    \"starts_at\": \"2022-07-08T00:00:00.000000Z\",\n                    \"ends_at\": \"2027-01-16T00:00:00.000000Z\",\n                    \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"country\": {\n                        \"full_name\": \"Kingdom of Belgium\",\n                        \"iso_3166_2\": \"BE\",\n                        \"iso_3166_3\": \"BEL\",\n                        \"title\": \"Belgique\",\n                        \"name\": \"Belgique\"\n                    }\n                },\n                {\n                    \"format_profile\": \"HD\",\n                    \"licence_type\": \"SVOD\",\n                    \"starts_at\": \"2022-07-08T00:00:00.000000Z\",\n                    \"ends_at\": \"2027-01-16T00:00:00.000000Z\",\n                    \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"country\": {\n                        \"full_name\": \"French Republic\",\n                        \"iso_3166_2\": \"FR\",\n                        \"iso_3166_3\": \"FRA\",\n                        \"title\": \"France\",\n                        \"name\": \"France\"\n                    }\n                }\n            ],\n            \"free\": [\n                {\n                    \"format_profile\": \"HD\",\n                    \"licence_type\": \"SVOD\",\n                    \"starts_at\": \"2022-07-08T00:00:00.000000Z\",\n                    \"ends_at\": \"2027-01-16T00:00:00.000000Z\",\n                    \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"country\": {\n                        \"full_name\": \"Kingdom of Belgium\",\n                        \"iso_3166_2\": \"BE\",\n                        \"iso_3166_3\": \"BEL\",\n                        \"title\": \"Belgique\",\n                        \"name\": \"Belgique\"\n                    }\n                },\n                {\n                    \"format_profile\": \"HD\",\n                    \"licence_type\": \"SVOD\",\n                    \"starts_at\": \"2022-07-08T15:00:00.000000Z\",\n                    \"ends_at\": \"2027-01-16T23:05:00.000000Z\",\n                    \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"updated_at\": \"2025-02-06T09:17:29.000000Z\",\n                    \"country\": {\n                        \"full_name\": \"French Republic\",\n                        \"iso_3166_2\": \"FR\",\n                        \"iso_3166_3\": \"FRA\",\n                        \"title\": \"France\",\n                        \"name\": \"France\"\n                    }\n                }\n            ]\n        },\n        \"identifiers\": {\n            \"imdb\": \"tt2290065\",\n            \"tmdb\": null,\n            \"allocine\": null,\n            \"eidr\": null,\n            \"isan\": \"0000-0004-903B-0000-Y-0000-0000-9\",\n            \"plurimedia\": null,\n            \"tms\": null,\n            \"tvdb\": null\n        }\n    }\n}\n"
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: '`Model` with id: 999 not found.'
                  error_code: not_found
                  warnings: []
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: '`Model` with id: 999 not found.'
                  error_code:
                    type: string
                    example: not_found
                  warnings:
                    type: array
                    example: []
      tags:
        - Contents
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                light:
                  type: boolean
                  description: 'Get a light version of the result'
                  example: true
                  nullable: true
    put:
      summary: 'Update a Content'
      operationId: updateAContent
      description: ''
      parameters:
        -
          in: header
          name: locale
          description: ''
          example: fr-FR
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    \"status\": \"success\",\n    \"results\": {\n        \"external_id\": 40083,\n        \"uid\": \"content_1\",\n        \"sku_code\": \"100_bloody_acres_40083\",\n        \"type\": \"program\",\n        \"rank\": 1,\n        \"title\": \"100 Bloody Acres\",\n        \"original_title\": null,\n        \"synopsis\": \"Reg and Lindsay sont propriétaires d'une entreprise de fertilisation biologique. Ils ont besoin de nouveaux stocks de leur \\\"ingrédient secret\\\". C'est alors que Reg tombe sur trois personnes en panne sur la route...\",\n        \"short_synopsis\": null,\n        \"persons\": [\n            {\n                \"external_id\": 22648,\n                \"firstname\": \"Damon\",\n                \"lastname\": \"Herriman\",\n                \"name\": \"Damon Herriman\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22649,\n                \"firstname\": \"Angus\",\n                \"lastname\": \"Sampson\",\n                \"name\": \"Angus Sampson\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22650,\n                \"firstname\": \"Anna\",\n                \"lastname\": \"McGahan\",\n                \"name\": \"Anna McGahan\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 3034,\n                \"firstname\": \"John\",\n                \"lastname\": \"Jarratt\",\n                \"name\": \"John Jarratt\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22651,\n                \"firstname\": \"Oliver\",\n                \"lastname\": \"Ackland\",\n                \"name\": \"Oliver Ackland\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22652,\n                \"firstname\": \"Jamie\",\n                \"lastname\": \"Kristian\",\n                \"name\": \"Jamie Kristian\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22653,\n                \"firstname\": \"Chrissie\",\n                \"lastname\": \"Page\",\n                \"name\": \"Chrissie Page\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22646,\n                \"firstname\": \"Cameron\",\n                \"lastname\": \"Cairnes\",\n                \"name\": \"Cameron Cairnes\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 2,\n                        \"code\": \"director\",\n                        \"label\": \"Director\",\n                        \"name\": \"Réalisateur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22647,\n                \"firstname\": \"Colin\",\n                \"lastname\": \"Cairnes\",\n                \"name\": \"Colin Cairnes\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 2,\n                        \"code\": \"director\",\n                        \"label\": \"Director\",\n                        \"name\": \"Réalisateur\",\n                        \"description\": null\n                    }\n                ]\n            }\n        ],\n        \"countries\": [\n            {\n                \"full_name\": \"Commonwealth of Australia\",\n                \"iso_3166_2\": \"AU\",\n                \"iso_3166_3\": \"AUS\",\n                \"title\": \"Australie\",\n                \"name\": \"Australie\"\n            }\n        ],\n        \"duration\": 5460,\n        \"release_date\": \"2012-08-04\",\n        \"owner\": \"KFD\",\n        \"video_quality\": \"HD\",\n        \"original_language\": {\n            \"code\": \"en-AU\",\n            \"iso_639_1\": null,\n            \"iso_639_2\": null,\n            \"iso_639_3\": null,\n            \"frequently_used\": false,\n            \"video_audio_only\": false,\n            \"metadata_only\": false,\n            \"timed_text_only\": false,\n            \"name\": \"Anglais (Australie)\"\n        },\n        \"rating\": 10,\n        \"categories\": [\n            {\n                \"external_id\": 216,\n                \"parent_id\": null,\n                \"rank\": null,\n                \"created_at\": \"2024-12-02T14:28:40.000000Z\",\n                \"updated_at\": \"2024-12-02T14:28:40.000000Z\",\n                \"name\": \"Horreur\",\n                \"description\": null\n            }\n        ],\n        \"genres\": [\n            {\n                \"code\": \"av_subgenre_horror_comedy\",\n                \"name\": \"Horror Comedy\"\n            }\n        ],\n        \"betv_categories\": [],\n        \"molotov_tags\": [],\n        \"images\": {\n            \"amazon\": {\n                \"cover_art\": \"https://path/to/amazon/cover_art.jpg\",\n                \"box_art\": \"https://path/to/amazon/box_art.jpg\",\n                \"poster_art\": \"https://path/to/amazon/poster_art.jpg\",\n                \"hero_art\": \"https://path/to/amazon/hero_art.jpg\",\n                \"title_art\": \"https://path/to/amazon/title_art.jpg\",\n                \"season_box_art\": \"https://path/to/amazon/season_box_art.jpg\",\n                \"episodic_art\": \"https://path/to/amazon/episodic_art.jpg\",\n            },\n            \"free\": {\n                \"cover_poster\": \"https://path/to/free/cover_poster.jpg\",\n                \"cover_wide\": \"https://path/to/free/cover_wide.jpg\",\n                \"backdrop_wide\": \"https://path/to/free/backdrop_wide.jpg\"\n            },\n            \"molotov\": {\n                \"poster\": \"https://path/to/molotov/poster.jpg\",\n                \"poster_23\": \"https://path/to/molotov/poster_23.jpg\",\n                \"landscape\": \"https://path/to/molotov/wallpaper.jpg\",\n                \"backdrop\": \"https://path/to/molotov/backdrop.jpg\"\n            },\n            \"betv\": {\n                \"poster\": \"https://path/to/betv/poster.jpg\",\n                \"wallpaper\": \"https://path/to/betv/wallpaper.jpg\"\n            }\n        },\n        \"videos\": {\n            \"amazon\": {\n                \"main\": {\n                    \"external_id\": 93966,\n                    \"type\": \"main\",\n                    \"name\": \"terrifier\",\n                    \"url\": \"s3://bucket/path/to/terrifier.mov\",\n                    \"duration\": 8340,\n                    \"is_drmised\": false,\n                    \"drm_key_id\": null,\n                    \"drm_key\": null,\n                    \"drm_initialization_vector\": null,\n                    \"is_delivered\": false,\n                    \"created_at\": \"2024-12-19 16:24:05\",\n                    \"updated_at\": \"2025-02-04 11:07:26\",\n                    \"audios\": [\n                        {\n                            \"external_id\": 38,\n                            \"name\": \"audio-terrifier-R1\",\n                            \"url\": \"s3://bucket/path/to/audio-terrifier-R1.wav\",\n                            \"is_delivered\": false,\n                            \"created_at\": \"2024-12-19 16:24:05\",\n                            \"updated_at\": \"2024-12-19 16:24:05\",\n                            \"language\": {\n                                \"code\": \"fr-FR\",\n                                \"iso_639_1\": \"fr\",\n                                \"iso_639_2\": \"fre\",\n                                \"iso_639_3\": \"fra\",\n                                \"frequently_used\": true,\n                                \"video_audio_only\": false,\n                                \"metadata_only\": false,\n                                \"timed_text_only\": false,\n                                \"name\": \"Français (France)\"\n                            }\n                        }\n                    ],\n                    \"subtitles\": [\n                        {\n                            \"external_id\": 53093,\n                            \"format\": \"srt\",\n                            \"version\": \"normal\",\n                            \"name\": \"subtitle-terrifier-fr-FR\",\n                            \"url\": \"s3://bucket/path/to/subtitle-terrifier-fr-FR.srt\",\n                            \"is_delivered\": false,\n                            \"created_at\": \"2024-12-19 16:24:05\",\n                            \"updated_at\": \"2024-12-19 16:24:05\",\n                            \"language\": {\n                                \"code\": \"fr-FR\",\n                                \"iso_639_1\": \"fr\",\n                                \"iso_639_2\": \"fre\",\n                                \"iso_639_3\": \"fra\",\n                                \"frequently_used\": true,\n                                \"video_audio_only\": false,\n                                \"metadata_only\": false,\n                                \"timed_text_only\": false,\n                                \"name\": \"Français (France)\"\n                            }\n                        }\n                    ],\n                    \"audiotracks\": [\n                        {\n                            \"is_original_version\": true,\n                            \"rank\": 1,\n                            \"external_locale\": \"en-US\",\n                            \"created_at\": \"2024-12-19 16:24:05\",\n                            \"updated_at\": \"2025-01-07 10:48:11\",\n                            \"language\": {\n                                \"code\": \"en-US\",\n                                \"iso_639_1\": null,\n                                \"iso_639_2\": null,\n                                \"iso_639_3\": null,\n                                \"frequently_used\": true,\n                                \"video_audio_only\": false,\n                                \"metadata_only\": false,\n                                \"timed_text_only\": false,\n                                \"name\": \"Anglais (États-Unis)\"\n                            }\n                        }\n                    ]\n                },\n                \"trailer\": [\n                    {\n                        \"external_id\": 93966,\n                        \"type\": \"trailer\",\n                        \"name\": \"terrifier-trailer\",\n                        \"url\": \"s3://bucket/path/to/terrifier-trailer.mov\",\n                        \"duration\": 8340,\n                        \"is_drmised\": false,\n                        \"is_delivered\": false,\n                        \"created_at\": \"2024-12-19 16:24:05\",\n                        \"updated_at\": \"2025-02-04 11:07:26\"\n                    }\n                ]\n            }\n        },\n        \"availabilities\": {\n            \"amazon\": [\n                {\n                    \"format_profile\": \"HD\",\n                    \"licence_type\": \"SVOD\",\n                    \"starts_at\": \"2022-07-08T00:00:00.000000Z\",\n                    \"ends_at\": \"2027-01-16T00:00:00.000000Z\",\n                    \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"country\": {\n                        \"full_name\": \"Kingdom of Belgium\",\n                        \"iso_3166_2\": \"BE\",\n                        \"iso_3166_3\": \"BEL\",\n                        \"title\": \"Belgique\",\n                        \"name\": \"Belgique\"\n                    }\n                },\n                {\n                    \"format_profile\": \"HD\",\n                    \"licence_type\": \"SVOD\",\n                    \"starts_at\": \"2022-07-08T00:00:00.000000Z\",\n                    \"ends_at\": \"2027-01-16T00:00:00.000000Z\",\n                    \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"country\": {\n                        \"full_name\": \"French Republic\",\n                        \"iso_3166_2\": \"FR\",\n                        \"iso_3166_3\": \"FRA\",\n                        \"title\": \"France\",\n                        \"name\": \"France\"\n                    }\n                }\n            ],\n            \"free\": [\n                {\n                    \"format_profile\": \"HD\",\n                    \"licence_type\": \"SVOD\",\n                    \"starts_at\": \"2022-07-08T00:00:00.000000Z\",\n                    \"ends_at\": \"2027-01-16T00:00:00.000000Z\",\n                    \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"country\": {\n                        \"full_name\": \"Kingdom of Belgium\",\n                        \"iso_3166_2\": \"BE\",\n                        \"iso_3166_3\": \"BEL\",\n                        \"title\": \"Belgique\",\n                        \"name\": \"Belgique\"\n                    }\n                },\n                {\n                    \"format_profile\": \"HD\",\n                    \"licence_type\": \"SVOD\",\n                    \"starts_at\": \"2022-07-08T15:00:00.000000Z\",\n                    \"ends_at\": \"2027-01-16T23:05:00.000000Z\",\n                    \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                    \"updated_at\": \"2025-02-06T09:17:29.000000Z\",\n                    \"country\": {\n                        \"full_name\": \"French Republic\",\n                        \"iso_3166_2\": \"FR\",\n                        \"iso_3166_3\": \"FRA\",\n                        \"title\": \"France\",\n                        \"name\": \"France\"\n                    }\n                }\n            ]\n        },\n        \"identifiers\": {\n            \"imdb\": \"tt2290065\",\n            \"tmdb\": null,\n            \"allocine\": null,\n            \"eidr\": null,\n            \"isan\": \"0000-0004-903B-0000-Y-0000-0000-9\",\n            \"plurimedia\": null,\n            \"tms\": null,\n            \"tvdb\": null\n        }\n    }\n}\n"
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: '`Model` with id: 999 not found.'
                  error_code: not_found
                  warnings: []
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: '`Model` with id: 999 not found.'
                  error_code:
                    type: string
                    example: not_found
                  warnings:
                    type: array
                    example: []
      tags:
        - Contents
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_external_id:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ngefb
                  nullable: true
                rank:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 18
                  nullable: true
                images:
                  type: object
                  description: ''
                  example: null
                  properties:
                    amazon:
                      type: object
                      description: ''
                      example: null
                      properties:
                        cover_art:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'https://steuber.info/odio-nostrum-quam-fuga-consectetur.html'
                          nullable: true
                        box_art:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://dickens.com/consequatur-voluptas-qui-nihil.html'
                          nullable: true
                        season_box_art:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://www.hessel.com/'
                          nullable: true
                        hero_art:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'https://konopelski.org/ad-exercitationem-qui-dignissimos-in-animi.html'
                          nullable: true
                        title_art:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://www.stiedemann.org/'
                          nullable: true
                        poster_art:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://schroeder.biz/'
                          nullable: true
                        episodic_art:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://stanton.info/ut-dicta-minus-magnam-et-qui-omnis'
                          nullable: true
                        trailer_art:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://www.green.org/et-aut-adipisci-sequi-ipsam'
                          nullable: true
                        bonus_art:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://www.schimmel.com/iure-nam-iste-omnis-repellat.html'
                          nullable: true
                      nullable: true
                    betv:
                      type: object
                      description: ''
                      example: null
                      properties:
                        poster:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://www.aufderhar.info/possimus-aut-sint-incidunt-nostrum-animi'
                          nullable: true
                        wallpaper:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://www.roob.com/illum-quo-incidunt-praesentium-sit'
                          nullable: true
                      nullable: true
                    free:
                      type: object
                      description: ''
                      example: null
                      properties:
                        cover_poster:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://beer.com/voluptatem-eum-ipsa-dicta-aut-a-iste'
                          nullable: true
                        cover_wide:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://www.walsh.net/sunt-quia-laudantium-omnis-veniam-et'
                          nullable: true
                        cover_tall:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://www.miller.org/esse-vitae-iusto-dolore-aut-reiciendis-voluptatem-et'
                          nullable: true
                        backdrop_wide:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://frami.com/dolor-maxime-quo-reiciendis-dolore'
                          nullable: true
                        banner_wide:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'https://www.dicki.biz/labore-quas-perspiciatis-sunt-explicabo-rerum-accusamus'
                          nullable: true
                        banner_narrow:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'https://wolf.net/et-et-rerum-ipsam-nihil-molestiae-mollitia.html'
                          nullable: true
                      nullable: true
                    molotov:
                      type: object
                      description: ''
                      example: null
                      properties:
                        poster:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://www.bauch.com/facilis-et-temporibus-aliquid.html'
                          nullable: true
                        poster_23:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'https://www.hauck.net/deserunt-harum-omnis-voluptatibus-cupiditate-qui-a-id'
                          nullable: true
                        backdrop:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://www.schmeler.com/ratione-reiciendis-deleniti-eius-quam'
                          nullable: true
                        landscape:
                          type: string
                          description: 'Must be a valid URL.'
                          example: 'http://batz.com/'
                          nullable: true
                      nullable: true
                  nullable: true
                videos:
                  type: object
                  description: ''
                  example: null
                  properties:
                    amazon:
                      type: object
                      description: ''
                      example: null
                      properties:
                        main:
                          type: string
                          description: 'Must match an existing stored value.'
                          example: eveniet
                          nullable: true
                        bonus:
                          type: array
                          description: ''
                          example:
                            - voluptatem
                          items:
                            type: string
                        trailer:
                          type: array
                          description: ''
                          example:
                            - ipsum
                          items:
                            type: string
                      nullable: true
                    free:
                      type: object
                      description: ''
                      example: null
                      properties:
                        main:
                          type: string
                          description: 'Must match an existing stored value.'
                          example: quis
                          nullable: true
                        bonus:
                          type: array
                          description: ''
                          example:
                            - soluta
                          items:
                            type: string
                        trailer:
                          type: array
                          description: ''
                          example:
                            - voluptatem
                          items:
                            type: string
                      nullable: true
                    molotov:
                      type: object
                      description: ''
                      example: null
                      properties:
                        main:
                          type: string
                          description: 'Must match an existing stored value.'
                          example: sed
                          nullable: true
                        bonus:
                          type: array
                          description: ''
                          example:
                            - labore
                          items:
                            type: string
                        trailer:
                          type: array
                          description: ''
                          example:
                            - cum
                          items:
                            type: string
                      nullable: true
                    betv:
                      type: object
                      description: ''
                      example: null
                      properties:
                        main:
                          type: string
                          description: 'Must match an existing stored value.'
                          example: qui
                          nullable: true
                        bonus:
                          type: array
                          description: ''
                          example:
                            - id
                          items:
                            type: string
                        trailer:
                          type: array
                          description: ''
                          example:
                            - quae
                          items:
                            type: string
                      nullable: true
                  nullable: true
                availabilities:
                  type: object
                  description: ''
                  example: null
                  properties:
                    amazon:
                      type: array
                      description: ''
                      example: null
                      items:
                        type: object
                        properties:
                          country_code:
                            type: string
                            description: 'This field is required when <code>availabilities.amazon</code> is present.'
                            example: null
                          format_profile:
                            type: string
                            description: ''
                            example: HD
                            enum:
                              - UHD
                              - 4K
                              - HD
                              - SD
                            nullable: true
                          licence_type:
                            type: string
                            description: ''
                            example: VOD
                            enum:
                              - SVOD
                              - AVOD
                              - EST
                              - POEST
                              - FVOD
                              - VOD
                              - REPLAY
                            nullable: true
                          price_value:
                            type: number
                            description: 'This field is required when <code>availabilities.amazon.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>. Must be at least 0.'
                            example: 71
                            nullable: true
                          price_currency:
                            type: string
                            description: 'This field is required when <code>availabilities.amazon.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>.'
                            example: GBP
                            enum:
                              - EUR
                              - CHF
                              - GBP
                              - USD
                              - CAD
                              - SEK
                            nullable: true
                          starts_at:
                            type: string
                            description: 'This field is required when <code>availabilities.amazon</code> is present. Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                          ends_at:
                            type: string
                            description: 'Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                            nullable: true
                    betv:
                      type: array
                      description: ''
                      example: null
                      items:
                        type: object
                        properties:
                          country_code:
                            type: string
                            description: 'This field is required when <code>availabilities.betv</code> is present.'
                            example: null
                          format_profile:
                            type: string
                            description: ''
                            example: UHD
                            enum:
                              - UHD
                              - 4K
                              - HD
                              - SD
                            nullable: true
                          licence_type:
                            type: string
                            description: ''
                            example: POEST
                            enum:
                              - SVOD
                              - AVOD
                              - EST
                              - POEST
                              - FVOD
                              - VOD
                              - REPLAY
                            nullable: true
                          price_value:
                            type: number
                            description: 'This field is required when <code>availabilities.betv.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>. Must be at least 0.'
                            example: 12
                            nullable: true
                          price_currency:
                            type: string
                            description: 'This field is required when <code>availabilities.betv.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>.'
                            example: EUR
                            enum:
                              - EUR
                              - CHF
                              - GBP
                              - USD
                              - CAD
                              - SEK
                            nullable: true
                          starts_at:
                            type: string
                            description: 'This field is required when <code>availabilities.betv</code> is present. Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                          ends_at:
                            type: string
                            description: 'This field is required when <code>availabilities.betv</code> is present. Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                    free:
                      type: array
                      description: ''
                      example: null
                      items:
                        type: object
                        properties:
                          country_code:
                            type: string
                            description: 'This field is required when <code>availabilities.free</code> is present.'
                            example: null
                          format_profile:
                            type: string
                            description: ''
                            example: HD
                            enum:
                              - UHD
                              - 4K
                              - HD
                              - SD
                            nullable: true
                          licence_type:
                            type: string
                            description: ''
                            example: FVOD
                            enum:
                              - SVOD
                              - AVOD
                              - EST
                              - POEST
                              - FVOD
                              - VOD
                              - REPLAY
                            nullable: true
                          price_value:
                            type: number
                            description: 'This field is required when <code>availabilities.free.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>. Must be at least 0.'
                            example: 67
                            nullable: true
                          price_currency:
                            type: string
                            description: 'This field is required when <code>availabilities.free.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>.'
                            example: EUR
                            enum:
                              - EUR
                              - CHF
                              - GBP
                              - USD
                              - CAD
                              - SEK
                            nullable: true
                          starts_at:
                            type: string
                            description: 'This field is required when <code>availabilities.free</code> is present. Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                          ends_at:
                            type: string
                            description: 'Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                            nullable: true
                    molotov:
                      type: array
                      description: ''
                      example: null
                      items:
                        type: object
                        properties:
                          country_code:
                            type: string
                            description: 'This field is required when <code>availabilities.molotov</code> is present.'
                            example: null
                          format_profile:
                            type: string
                            description: ''
                            example: HD
                            enum:
                              - UHD
                              - 4K
                              - HD
                              - SD
                            nullable: true
                          licence_type:
                            type: string
                            description: ''
                            example: AVOD
                            enum:
                              - SVOD
                              - AVOD
                              - EST
                              - POEST
                              - FVOD
                              - VOD
                              - REPLAY
                            nullable: true
                          price_value:
                            type: number
                            description: 'This field is required when <code>availabilities.molotov.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>. Must be at least 0.'
                            example: 25
                            nullable: true
                          price_currency:
                            type: string
                            description: 'This field is required when <code>availabilities.molotov.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>.'
                            example: CAD
                            enum:
                              - EUR
                              - CHF
                              - GBP
                              - USD
                              - CAD
                              - SEK
                            nullable: true
                          starts_at:
                            type: string
                            description: 'This field is required when <code>availabilities.molotov</code> is present. Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                          ends_at:
                            type: string
                            description: 'This field is required when <code>availabilities.molotov</code> is present. Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                    allocine:
                      type: array
                      description: ''
                      example: null
                      items:
                        type: object
                        properties:
                          country_code:
                            type: string
                            description: 'This field is required when <code>availabilities.allocine</code> is present.'
                            example: null
                          format_profile:
                            type: string
                            description: ''
                            example: SD
                            enum:
                              - UHD
                              - 4K
                              - HD
                              - SD
                            nullable: true
                          licence_type:
                            type: string
                            description: ''
                            example: REPLAY
                            enum:
                              - SVOD
                              - AVOD
                              - EST
                              - POEST
                              - FVOD
                              - VOD
                              - REPLAY
                            nullable: true
                          price_value:
                            type: number
                            description: 'This field is required when <code>availabilities.allocine.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>. Must be at least 0.'
                            example: 65
                            nullable: true
                          price_currency:
                            type: string
                            description: 'This field is required when <code>availabilities.allocine.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>.'
                            example: SEK
                            enum:
                              - EUR
                              - CHF
                              - GBP
                              - USD
                              - CAD
                              - SEK
                            nullable: true
                          starts_at:
                            type: string
                            description: 'This field is required when <code>availabilities.allocine</code> is present. Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                          ends_at:
                            type: string
                            description: 'Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                            nullable: true
                    justwatch:
                      type: array
                      description: ''
                      example: null
                      items:
                        type: object
                        properties:
                          country_code:
                            type: string
                            description: 'This field is required when <code>availabilities.justwatch</code> is present.'
                            example: null
                          format_profile:
                            type: string
                            description: ''
                            example: HD
                            enum:
                              - UHD
                              - 4K
                              - HD
                              - SD
                            nullable: true
                          licence_type:
                            type: string
                            description: ''
                            example: EST
                            enum:
                              - SVOD
                              - AVOD
                              - EST
                              - POEST
                              - FVOD
                              - VOD
                              - REPLAY
                            nullable: true
                          price_value:
                            type: number
                            description: 'This field is required when <code>availabilities.justwatch.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>. Must be at least 0.'
                            example: 1
                            nullable: true
                          price_currency:
                            type: string
                            description: 'This field is required when <code>availabilities.justwatch.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>.'
                            example: CAD
                            enum:
                              - EUR
                              - CHF
                              - GBP
                              - USD
                              - CAD
                              - SEK
                            nullable: true
                          starts_at:
                            type: string
                            description: 'This field is required when <code>availabilities.justwatch</code> is present. Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                          ends_at:
                            type: string
                            description: 'Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                            nullable: true
                    samsung:
                      type: array
                      description: ''
                      example: null
                      items:
                        type: object
                        properties:
                          country_code:
                            type: string
                            description: 'This field is required when <code>availabilities.samsung</code> is present.'
                            example: null
                          format_profile:
                            type: string
                            description: ''
                            example: 4K
                            enum:
                              - UHD
                              - 4K
                              - HD
                              - SD
                            nullable: true
                          licence_type:
                            type: string
                            description: ''
                            example: REPLAY
                            enum:
                              - SVOD
                              - AVOD
                              - EST
                              - POEST
                              - FVOD
                              - VOD
                              - REPLAY
                            nullable: true
                          price_value:
                            type: number
                            description: 'This field is required when <code>availabilities.samsung.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>. Must be at least 0.'
                            example: 61
                            nullable: true
                          price_currency:
                            type: string
                            description: 'This field is required when <code>availabilities.samsung.*.licence_type</code> is <code>VOD</code>, <code>EST</code>, or <code>POEST</code>.'
                            example: SEK
                            enum:
                              - EUR
                              - CHF
                              - GBP
                              - USD
                              - CAD
                              - SEK
                            nullable: true
                          starts_at:
                            type: string
                            description: 'This field is required when <code>availabilities.samsung</code> is present. Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                          ends_at:
                            type: string
                            description: 'Must be a valid date.'
                            example: '2026-08-13T14:02:42'
                            nullable: true
                  nullable: true
                identifiers:
                  type: object
                  description: 'External identifiers for the content.'
                  example: []
                  properties:
                    imdb:
                      type: string
                      description: 'IMDb identifier.'
                      example: tt1234567
                    tmdb:
                      type: string
                      description: 'TMDb identifier.'
                      example: '123456'
                    allocine:
                      type: string
                      description: 'Allociné identifier.'
                      example: '123456'
                    eidr:
                      type: string
                      description: 'EIDR identifier.'
                      example: 10.5240/XXXX
                    isan:
                      type: string
                      description: 'ISAN identifier.'
                      example: 0000-0001-8CFA-0000-I-0000-0000-K
                    plurimedia:
                      type: string
                      description: 'Plurimedia identifier.'
                      example: abcdefg
                    tms:
                      type: string
                      description: 'TMS identifier.'
                      example: MV000000000000
                    tvdb:
                      type: string
                      description: 'TVDB identifier.'
                      example: '123456'
                    webedia:
                      type: string
                      description: 'Webedia identifier.'
                      example: '123456'
                countries:
                  type: array
                  description: 'A list of original country codes'
                  example: '["FRA", "USA"]'
                  items:
                    type: string
                duration:
                  type: integer
                  description: 'The duration of the main video, in seconds.'
                  example: 5400
                release_date:
                  type: date
                  description: 'The release date of the content.'
                  example: '2020-01-31'
                owner:
                  type: string
                  description: 'The owner (credits,copyright) of the content.'
                  example: 'The Coven'
                original_language:
                  type: string
                  description: 'The original language of the content.'
                  example: en-US
                genres:
                  type: array
                  description: 'A list of genres.'
                  example: '["av_subgenre_action_comedy", "av_genre_adventure"]'
                  items:
                    type: string
    patch:
      summary: 'Patch a Content'
      operationId: patchAContent
      description: ''
      parameters:
        -
          in: header
          name: locale
          description: ''
          example: fr-FR
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    \"status\": \"success\",\n    \"results\": {\n        \"external_id\": 40083,\n        \"uid\": \"content_1\",\n        \"sku_code\": \"100_bloody_acres_40083\",\n        \"type\": \"program\",\n        \"rank\": 1,\n        \"title\": \"100 Bloody Acres\",\n        \"original_title\": null,\n        \"synopsis\": \"Reg and Lindsay sont propriétaires d'une entreprise de fertilisation biologique. Ils ont besoin de nouveaux stocks de leur \\\"ingrédient secret\\\". C'est alors que Reg tombe sur trois personnes en panne sur la route...\",\n        \"short_synopsis\": null,\n        \"persons\": [\n            {\n                \"external_id\": 22648,\n                \"firstname\": \"Damon\",\n                \"lastname\": \"Herriman\",\n                \"name\": \"Damon Herriman\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22649,\n                \"firstname\": \"Angus\",\n                \"lastname\": \"Sampson\",\n                \"name\": \"Angus Sampson\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"updated_at\": \"2024-12-05T16:49:38.000000Z\",\n                \"identifiers\": null,\n                \"image\": null,\n                \"jobs\": [\n                    {\n                        \"id\": 1,\n                        \"code\": \"actor\",\n                        \"label\": \"Actor\",\n                        \"name\": \"Acteur\",\n                        \"description\": null\n                    }\n                ]\n            },\n            {\n                \"external_id\": 22650,\n                \"firstname\": \"Anna\",\n                \"lastname\": \"McGahan\",\n                \"name\": \"Anna McGahan\",\n                \"gender\": null,\n                \"birth_date\": null,\n                \"created_at\": \"2024-12-05T16:49:38.0000
[...]
